In [1]:
import pandas as pd

caminho_arquivo = 'resultado_megasena.xlsx'

df = pd.read_excel(caminho_arquivo, index_col=0)
df.head()

                Data  bola 1  bola 2  bola 3  bola 4  bola 5  bola 6
Concurso
2662      30/11/2023      17      20      31      34      40      42
2661      28/11/2023       6      30      35      38      41      56
2660      25/11/2023       6      12      13      20      38      60
2659      23/11/2023      11      36      46      53      55      60
2658      21/11/2023       5      13      39      51      58      60

In [2]:
# Dicionário com os jogos de cada pessoa
jogos = {
    "jogo1": [10, 25, 21, 23, 38, 44],
    "jogo2": [13, 30, 35, 39, 50, 54],
    "jogo3": [12, 23, 35, 44, 52, 57],
    "jogo4": [10, 13, 23, 25, 42, 56],
    "jogo5": [17, 20, 31, 34, 40, 42]
}

# Convertendo o dicionário em um DataFrame
df_jogos = pd.DataFrame(jogos)

# Verificando a presença das combinações nos resultados da Mega Sena
for jogo, numeros in jogos.items():
    # Verifica se pelo menos uma combinação está presente em alguma linha do DataFrame original
    resultado_encontrado = df[df.iloc[:, 1:].isin(numeros).all(axis=1)]
    
    if not resultado_encontrado.empty:
        print(f"Combinação do {jogo} encontrada no(s) concurso(s):")
        print(resultado_encontrado.index.tolist())
        print("\n")
    else:
        print(f"Combinação do {jogo} não encontrada.\n")

Combinação do jogo1 não encontrada.

Combinação do jogo2 não encontrada.

Combinação do jogo3 não encontrada.

Combinação do jogo4 não encontrada.

Combinação do jogo5 encontrada no(s) concurso(s):
[2662]

In [9]:
# Convertendo o dicionário em um DataFrame
df_jogos = pd.DataFrame(jogos)

# Inicializando um DataFrame vazio para armazenar os resultados
resultados = pd.DataFrame(index=df.index)

# Iterando sobre cada jogo
for jogo, numeros in jogos.items():
    # Verificando a quantidade de acertos para cada concurso
    acertos = df[df.iloc[:, 1:].isin(numeros)].count(axis=1)
    
    # Adicionando os resultados ao DataFrame
    resultados[f"{jogo}_acertos"] = acertos

# Filtrando os resultados para mostrar apenas aqueles com 4, 5 ou 6 acertos
resultados_filtrados = resultados[(resultados >= 4) & (resultados <= 6)].dropna(how="all")

# Exibindo os resultados filtrados
resultados_filtrados.insert(0, 'Data', df['Data'])
resultados_filtrados.dropna
resultados_filtrados

,Data,jogo1_acertos,jogo2_acertos,jogo3_acertos,jogo4_acertos,jogo5_acertos
Concurso,,,,,,
2662,30/11/2023,NaN,NaN,NaN,NaN,6.0
2489,08/06/2022,NaN,NaN,NaN,4.0,NaN
2488,04/06/2022,NaN,NaN,NaN,NaN,4.0
2332,06/01/2021,NaN,NaN,4.0,NaN,NaN
2179,14/08/2019,NaN,4.0,NaN,NaN,NaN
1967,13/09/2017,NaN,4.0,NaN,NaN,NaN
1538,11/10/2013,NaN,NaN,4.0,NaN,NaN
634,26/01/2005,NaN,NaN,NaN,4.0,NaN
430,18/01/2003,4.0,NaN,NaN,NaN,NaN