In [3]:
import pandas as pd

# Carrega o arquivo lotofacil.xlsx
df = pd.read_excel('lotofacil.xlsx')

df

,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,bola 7,bola 8,bola 9,bola 10,bola 11,bola 12,bola 13,bola 14,bola 15
0,2990,28/12/2023,22,16,21,24,6,10,18,5,20,4,12,13,23,3,25
1,2989,27/12/2023,25,13,24,12,16,11,4,2,19,20,1,23,18,22,15
2,2988,26/12/2023,10,12,3,1,23,7,19,17,22,14,20,9,6,13,11
3,2987,23/12/2023,13,18,16,20,7,4,17,11,1,6,14,12,15,3,8
4,2986,22/12/2023,22,23,7,13,12,10,16,25,19,20,4,1,18,3,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985,5,27/10/2003,15,13,20,2,11,24,9,16,4,23,25,12,8,19,1
2986,4,20/10/2003,16,5,25,24,23,8,12,2,17,18,1,10,4,19,13
2987,3,13/10/2003,20,23,12,8,6,1,7,11,14,4,16,10,9,17,24
2988,2,06/10/2003,23,15,5,4,12,16,20,6,11,19,24,1,9,13,7
2989,1,29/09/2003,18,20,25,23,10,11,24,14,6,2,13,9,5,16,3

In [37]:
import random

# Lista de bolas para procurar
#lista = [1, 3, 4, 9, 10, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25] #nÃºmeros aleatÃ³rios da "sorte"
# lista = [22, 16, 21, 24, 6, 10, 18, 5, 20, 4, 12, 13, 23, 3, 25] #nÃºmeros jÃ¡ sorteados previamente para teste
lista = random.sample(range(1, 26), 15) #gerador aleatÃ³rio
lista = sorted(lista)  # por em ordem crescente

print(lista)
print(f'Total de dezenas na lista: {len(lista)}')

# Converte a lista para um conjunto para facilitar a verificaÃ§Ã£o de pertencimento
conjunto_bolas = set(lista)

# Itera sobre as linhas do DataFrame
for index, row in df.iterrows():
    # ObtÃ©m as bolas do concurso atual
    bolas_concurso = set(row['bola {}'.format(i)] for i in range(1, 16))

    # Verifica a quantidade de valores da lista presentes no sorteio atual
    quantidade_sorteados = len(conjunto_bolas.intersection(bolas_concurso))

    # Verifica se a quantidade de valores sorteados estÃ¡ entre 11 e 15
    if 13 <= quantidade_sorteados <= 15:
        # Imprime o nÃºmero do concurso e a quantidade de dezenas sorteadas
        print("Concurso: {}, Quantidade de dezenas sorteadas: {}".format(row['Concurso'], quantidade_sorteados))

[1, 4, 5, 6, 7, 10, 11, 13, 14, 15, 16, 20, 22, 23, 24]
Total de dezenas na lista: 15
Concurso: 2840, Quantidade de dezenas sorteadas: 13
Concurso: 2699, Quantidade de dezenas sorteadas: 13
Concurso: 2623, Quantidade de dezenas sorteadas: 13
Concurso: 2239, Quantidade de dezenas sorteadas: 13
Concurso: 1835, Quantidade de dezenas sorteadas: 13
Concurso: 1422, Quantidade de dezenas sorteadas: 13
Concurso: 1006, Quantidade de dezenas sorteadas: 13
Concurso: 761, Quantidade de dezenas sorteadas: 13
Concurso: 696, Quantidade de dezenas sorteadas: 13